ion-app.app-root core-sitehome-index core-block-course-blocks.core-has-blocks .core-course-blocks-content {
    display: none;
}

ion-app.app-root core-sitehome-index core-block-course-blocks.core-has-blocks .core-course-blocks-side {
    max-width: 100%;
    width: 100%;
}
