<div class="standards">
    <ul>
        <li><a class="ll" href="https://docs.moodle.org/en/Standards"><span>Open Source</span></a></li>
        <li><a class="l" href="https://docs.moodle.org/en/Standards"><span>IMS LTI™ Certified</span></a></li>
        <li><a class="r" href="https://docs.moodle.org/en/Standards"><span>SCORM-ADL compliant</span></a></li>
        <li><a class="rr" href="https://docs.moodle.org/en/Standards"><span>Open Badges</span></a></li>
    </ul>
</div>