{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Multi device favicons.
}}
<link rel="shortcut icon" sizes="16x16 32x32 48x48 64x64" href="{{{ favicon }}}">
<link rel="shortcut icon" type="image/x-icon" href="{{{ favicon }}}">
<!--[if IE]><link rel="shortcut icon" href="{{{ favicon }}}" /><![endif]-->
<link rel="icon" type="image/png" sizes="195x195" href="{{{ favicon_195 }}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{{ favicon_152 }}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{{ favicon_144 }}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{{ favicon_120 }}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{{ favicon_114 }}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{{ favicon_96 }}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{{ favicon_76 }}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{{ favicon_72 }}}">
<link rel="apple-touch-icon" href="{{{ favicon_57 }}}">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="{{{ favicon_144 }}}">